TARGET_DB_HOST=
TARGET_DB_PORT=5432
TARGET_DB_NAME=
TARGET_DB_USER=
TARGET_DB_PASSWORD=
TARGET_NAME=

STORAGE_DB_DSN=postgresql://dbmonitor:dbmonitor@storage-db:5432/dbmonitor

LIGHT_INTERVAL_SECONDS=60
HEAVY_INTERVAL_SECONDS=1800
RETENTION_DAYS=30
